DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=checaantes
DATABASE_PASSWORD=
DATABASE_NAME=checaantes_dev

JWT_SECRET=
JWT_EXPIRES_IN=1d

ADMIN_EMAIL=
ADMIN_PASSWORD=

UNLEASH_URL=http://localhost:4242/api
UNLEASH_APP_NAME=checaantes-backend
UNLEASH_API_TOKEN=

APP_URL=http://localhost:3000

MAIL_TRANSPORT=smtp
MAIL_FROM=Checa Antes <no-reply@checaantes.com.br>
MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025

RESEND_API_KEY=
